@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    background: #121212;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: #FFD700;
}

.par {
  color: #c0c0c0;
}

.hello-text {
    color: #c0c0c0;
    font-size: 2em;
    font-weight: 600;
}

.name-text {
    color: #ffd700;
    font-size: 3em;
    font-weight: 700;
}

.logo {
    animation: slideIn 1s forwards;
    opacity: 0;
    color: #fffff0;
    transform: translateX(-100px);
}

.logo span {
    color: #FFD700;
}

.list-menu {
    display: flex;
    gap: 25px;
    margin-left: 0;
}

.contact-us {
    background-color: transparent;
    color: #FFD700;
    border: 2px solid #FFD700;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-us:hover {
    background-color: #FFD700;
    color: #000;
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
}

.contact-us:active {
    transform: scale(0.98);
}

.list-menu li {
    list-style: none;
    animation: showUp 0.7s forwards;
    opacity: 0;
    transform: translateY(20px);
}

.list-menu li a {
    text-decoration: none;
    font-weight: 600;
    color: #FFD700;
    transition: 0.25s;
}

.list-menu li a:hover, .list-menu li.active {
    color: #FFCC00;
    font-weight: 700;
}

.sidebar {
    background-color: #333;
    color: #FFD700;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    flex-shrink: 0;
    position: sticky;
    top: 20px;
    height: 100vh;
    overflow-y: auto;
}

.role-text {
    color: #FFD74D;
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-top: 4px;
    overflow: hidden;
    animation: showUp 0.7s forwards;
    animation-delay: 1.4s;
    opacity: 0;
    transform: translateY(20px);
}

.role-text span {
    animation: switchRole 3s ease-in-out alternate infinite;
}

.sidebar h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FFCC00; 
}

.sidebar ul {
    padding-left: 20px;
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 12px;
}

.sidebar ul li a {
    color: #FFD700;
    text-decoration: none;
    font-size: 1.1em;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

main {
    background: #121212;
    width: 100%;
    min-height: 100vh;
    padding: 80px 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
}

.banner {
    text-align: center;
    margin-bottom: 30px;
}

.banner h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFD700;
    font-size: 2.5em;
    margin-bottom: 1x;
}

.banner p {
    font-size: 1.2em;
    color: #bbb;
}

@keyframes showUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    60% {
        opacity: 1;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes switchRole {
    0%, 20% {
        transform: translateY(0px);
    }
    40%, 60% {
        transform: translateY(-36px);
    }
    80%, 100% {
        transform: translateY(-72px);
    }
}

.pop-up-text {
    animation: popUp 1s ease-out forwards;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 25px;
    }

    main {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .profile, footer .link-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
}